python_gui/__pycache__/
python_gui/.venv/

android_apk/.gradle/
android_apk/.kotlin/
android_apk/app/build/
android_apk/gradle-8.9/
android_apk/gradle-8.9-bin.zip
android_apk/local.properties
# PyInstaller
build/
dist/
*.spec

# macOS app archives
*.zip
